/* 
////////////////////////////
//                        //
//    Madison DeLaronde   //
//    Capstone Project    //
//                        //   
////////////////////////////
    */

@media print {
  header,
  footer,
  .navbar {
    display: none;
  }
  body {
    font-weight: bolder;
  }
}
