/* 
////////////////////////////
//                        //
//    Madison DeLaronde   //
//    Capstone Project    //
//                        //   
////////////////////////////
  */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

body {
  height: auto;
  max-width: 1000px;
  background-color: hsl(230, 76%, 92%);
  margin: 0 auto;
  margin-top: 10px;
}
section {
  font-family: "Kanit", sans-serif;
  font-size: 1.3em;
  background-image: url(../images/whiteclouds.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 1.5em;
  text-align: center;
  margin: 10px auto;
  padding: 5em 2em;
}
/* navigation styling  */

.navbar {
  background-color: rgb(190, 191, 211);
  padding: 1em;
  border-radius: 20px;
  font-family: "Kanit", sans-serif;
}
.logo {
  font-family: "Berkshire Swash", cursive;
  text-decoration: none;
  color: rgb(101, 109, 148);
  font-size: 1.8em;
}

nav {
  display: none;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  padding: 2px;
  top: 0;
  right: 0;
  margin: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav img {
  margin-left: 100px;
  display: inline;
  padding: 20px;

}
.nav-toggle:checked ~ .nav-toggle-label {
  position: fixed;
  top: 0;
}

nav a,
li,
ul {
  color: rgb(101, 109, 148);
  display: inline-block;
  padding: 2px;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.1em;
  margin-top: 10px;

  /* Transition and transform details */

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

li:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.mobileMenu {
  cursor: pointer;
}

/* responsive checkbox "hamburger" menu toggle  */

.nav-toggle:checked ~ nav {
  display: inline-block;
  margin-left: 40px;
}

/* mobile responsive media query  */

@media only screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }

  nav,
  ul,
  a {
    display: inline-block;
    padding: 0;
    margin-left: 10px;
  }
  a {
    padding: 10px;
    font-size: 1.4em;
  }
}
footer,
h4 {
  font-family: "Kanit", sans-serif;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  background-color: rgb(190, 191, 211);
  color: rgb(101, 109, 148);
  padding: 15px;
  border-radius: 20px;
  font-size: 1.2em;
}

/* desktop responsive media query */
@media screen and (min-width: 912px) {
  nav,
  ul,
 a {
    display: inline-block;
    padding: 0;
    margin-left: 10px;
  }
}

.content {
  display: -webkit-flex;
  margin: 10px auto;
}
.item {
  font-size: 20px;
  margin: 0 auto;
  background-color: rgb(179, 181, 209);
  padding: 20px;
  border-radius: 20px;
}
iframe {
  max-width: 100%;
}
.title {
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(179, 181, 209);
  margin: 30px;
  color: white;
  text-align: center;
  max-width: 30%;
}
.title h2 {
  font-weight: lighter;
}
.mobileMenu {
  padding-top: 10px;
  max-height: 40px;
  max-width: 40px;
}
#insta {
  padding-top: 20px;
  max-width: 50px;
  max-height: 50px;
}
#insta:hover {
  cursor: pointer;
}

.cta {
  font-family: "Kanit", sans-serif;
}
.cta a {
  cursor: pointer;
  background-color: rgb(64, 79, 143);
  color: #ffffff;
  border-radius: 5em;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 1em;
  display: inline-block;
  margin: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cta a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
h1 {
  text-align: center;
  font-family: "Kanit", sans-serif;
  color: rgb(64, 84, 138);
  font-size: 1.6em;
  text-shadow: 3px 5px 19px rgb(238, 222, 238);
}
h2 {
  font-family: "Righteous", cursive;
  color: rgb(50, 69, 122);
  text-shadow: 3px 5px 19px rgb(245, 238, 245);
}

.search{
  margin-top: 5px;
  text-align: center;
}
.category{
  font-family: "Kanit", sans-serif;
  text-align: center;
}
.category a {
  text-decoration: none;

}

.gallery {
  margin: 4px;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gallery img {
  opacity: 0.5;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.gallery img:hover {
  opacity: 1;
}

/* product card styling */
.card {
  border-radius: 20px;
  box-shadow: 0px 10px 10px 6px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
  font-family: arial;
}
.add {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: lightgreen;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  display: inline-block;
}
.price {
  color: grey;
  font-size: 22px;
}
form {
  min-width: 65%;
  display: inline-block;
  font-family: "Kanit", sans-serif;
}
h2 {
  font-family: "Kanit", sans-serif;
  text-align: center;
  color: rgb(82, 81, 139);
}
#contact {
  padding: 20px;
  background-color: rgb(179, 181, 209);
  max-width: 90%;
  margin: 10px auto;
  border-radius: 30px;
  text-align: center;
}
label {
  padding: 10px;
  display: block;
  color: rgb(51, 44, 95);
  font-size: larger;
}
.submit, button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: lightgreen;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  display: inline-block;
}
span {
    color: red;
}
input,
textarea {
  display: block;
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  border: none;
}

p {
  padding: 2px;
  color: rgb(50, 69, 122);
}


span a {
  padding: 5px;
  font-size: 22px;
  color: rgb(59, 65, 93);

}

#display {
  width: 900px;
}

table, th, td {
  text-align: center;
  font-size: 1.1em;
  font-family: "Kanit", sans-serif;
  padding: 10px;
  margin: 0 auto;
}

.links p{

  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: rgb(101, 109, 148);
  display: inline-block;
  padding: 7px;
  margin-top: 10px;
  margin: 10px;
  font-size: 1.1em;

}
.links p a {
  color: rgb(212, 213, 228);
  text-decoration: none;
  list-style-type: none;
}

.links {
  font-family: "Kanit", sans-serif;
  text-align: center;

}


.flash {
  font-family: "Kanit", sans-serif;
  padding: 10px;
  font-size: 1.1em;
  text-align: center;
}
.success {
  color: green;
}
.error {
  color: red;
}


